

a:hover,
a:active {
    color:#090;
}
a:link, a:visited {
    color: #090;
}

h1 {
    font-size:1.8em;
    margin:0 0 .444em;
}
h2 {
    font-size:1.5em;
    margin:0 0 .666em;
}
h3 {
    font-size:1.125em;
    margin:0 0 .888em;
}
h4 {
    font-size:1em;
    margin:0 0 1em;
}
h5 {
    font-size:.875em;
    margin:0 0 1.1428em;
}
h6 {
    font-size:.75em;
    margin:0 0 1.333em;
}
hr {
    border-style: dashed;
    border-color: #ccc;
    border-width: 1px 0 0;
    text-align: center;
    height: 0;
    width: 100%;
    clear: both;
}
pre{
    padding: 0.5em 1em;
    border-radius: 0.5em;
    overflow-x: auto;
    /*box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);*/
    background-color: #f0f2f5;
    border: 0.1em #666666;
    border-style:dashed;
}
blockquote {
    padding: 0 .5em;
    border: solid #090;
    border-width: 0 0 0 .25em;
}
.dokuwiki button {
    vertical-align: middle;
    height: 1.8em;
    line-height: 1.9em;
    border: dashed 0.12em #ccc;
    border-radius: 0.5em;
    margin: 0.1em;
    padding: 0 0.4em;
}
.dokuwiki textarea.edit {
    width: 100%;
    margin-bottom: .5em;
    border: dashed 0.12em #ccc;
    border-radius: 0.5em;
}
input select button textarea{
    border: .1em dashed #ccc;
    border-radius: .4em;
    height: 1.8em;
    line-height: 1.8em;
    padding-left: .5em;
}
.dokuwiki dl.code dt, .dokuwiki dl.file dt {
    background-color: #eee;
    border: dashed #666;
    border-width: 0.1em 0.1em 0;
    color: inherit;
    display: inline;
    padding: .5em .5em .5em;
    margin-left: 1em;
}
p{
    text-indent: 2em;
}
#dokuwiki__header p.claim {
    margin-top: .5em;
    font-size: .8em;
    text-indent: 0;
}

#dokuwiki__header h1 a {
    text-decoration: none;
    color: #000;
    background-color: inherit;
    font-size: 1.2em;
}
.dokuwiki fieldset{
    border: 0.12em dashed #ccc;
    border-radius: 0.5em;
}
form.search button {
    background: #fbfaf9 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAY1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABmaHTeAAAAIXRSTlMHNEEkTD4WPVEtKzcMQ1NATkc4VFJGHDEhJ0Q6RS8uVQBDAjEGAAAAXklEQVR4AS3HVQ4CUQDF0MHdGZfe/a+SNLz+NKeKNSnJCTj2Sn55rl9w+XNiTNLfaWRFHZsZ5cYZtew4xK7cZD7EBmaZFdtz9gO0MtlRWmTSvafH3GpZOulCWwBpxT/nGxX5oR8AJgAAAABJRU5ErkJggg==) top left repeat-x;
    border-width: 0;
    width: 13px;
    height: 14px;
    text-indent: -99999px;
    margin-left: 4px;
    box-shadow: none;
    padding: 0;
}
#dokuwiki__usertools{
    background: none;
}
#dokuwiki__pagetools {
    position: absolute;
    right: -44px;
    top: 1em;
    width: 44px;
    background: none;
    border-right: 0.13em dashed #ccc;
    border-top: 0.13em dashed #ccc;
    border-bottom: 0.13em dashed #ccc;
    border-radius: 0.6em;
}
@media screen and (max-width: 800px) {
    #dokuwiki__header ul.a11y.skip {
        display: none;
    }
    #dokuwiki__header .pad {
        opacity: 1;
        box-shadow: rgba(0,0,0,0.125) 0 0 20px;
        z-index: 233;
        transition: opacity 0.3s ease-out 0s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    #dokuwiki__header .headings {
        padding-left: 0;
        margin-top: 1em;
        float: none;
        text-align: center;
        margin-bottom: 0.2em;
    }
    #dokuwiki__header form.search{
        float: left;
        margin: 0 .2em .2em 0;
        width: 49%;
    }
    #dokuwiki__header .mobileTools select {
        overflow: visible;
        width: 45% !important;
        border: .1em dashed #ccc;
        border-radius: .4em;
        height: 1.8em;
        line-height: 1.8em;
        background-color: #fff;
    }
    #dokuwiki__header .tools {
        margin-top: 0.5em;
        margin-bottom: 1.5em;
        float: none;
        text-align: center;
        padding-right: 0;
    }
    #dokuwiki__usertools {
        position: relative;
        border-bottom: 0;
        width: 100%;
    }
    #dokuwiki__sitetools {
        font-size: 1em;
        width: 100%;
        text-align: center;
    }
    #dokuwiki__header form.search #qsearch__in {
        width: 80%;
        margin-right: 0;
    }
    .dokuwiki button {
        vertical-align: middle;
    }

    #dokuwiki__site .wrapper {
        position: relative;
        padding: 1em 1em;
    }

    #dw__toc {
        float: none;
        width: auto;
        margin: auto;
        font-family: Athelas,STHeiti,Microsoft Yahei,serif;
        border-radius: 1em;
        background: rgba(240,242,245,0.6);
        /*box-shadow: 0px 3px 15px rgba(0,0,0,0.125);*/
        word-wrap: break-word;
        box-sizing: border-box;
    }
    #dw__toc ul{
        padding: 0.5em;
        margin: 0.5em;
    }
    #dw__toc ul li{
        list-style: square;
    }
    #dokuwiki__pagetools {
        display: none;
    }
    .dokuwiki fieldset {
        width: auto;
    }

    #dokuwiki__usertools, #dokuwiki__sitetools ul, #dokuwiki__sitetools h3, #dokuwiki__pagetools, .dokuwiki div.breadcrumbs, .dokuwiki .pageId {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    #dokuwiki__header {
        margin: 0;
    }

    #dokuwiki__header .headings {
        padding-left: 2em;
        margin-top: 1em;
        float: left;
        margin-bottom: 0.2em;
    }

    #dokuwiki__header .tools {
        margin-bottom: 0.5em;
        float: right;
        text-align: right;
        padding-right: 2em;
    }
    #dokuwiki__header .tools ul {
        margin-bottom: 0;
        margin-top: 0.5em;
    }

    #dokuwiki__usertools {
        position: relative;
        border-bottom: 0;
        width: 100%;
    }

    #dokuwiki__sitetools {
        font-size: 1em;
    }

    #dokuwiki__sitetools .mobileTools{
        display: none;
    }

    #dokuwiki__site .wrapper {
        position: relative;
        padding: 1em 6em;
    }
}

#dokuwiki__header form.search #qsearch__in {
    border: 0.1em dashed #ccc;
    border-radius: 0.4em;
    height: 1.8em;
    line-height: 1.8em;
    padding-left: 0.5em;
}

#dokuwiki__header .pad {
    opacity: 1;
    /*background-color: rgb(255, 255, 255);*/
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 20px;
    z-index: 233;
    transition: opacity 0.3s ease-out 0s;
}

#dokuwiki__header div.breadcrumbs {
    margin-bottom: .3em;
    border-top: 0.12em dashed #ccc;
    padding: 0.5em 2em;
}

#dokuwiki__site {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}

#dw__toc {
    width: auto;
    font-family: Athelas,STHeiti,Microsoft Yahei,serif;
    border-radius: 1em;
    background: rgba(240,242,245,0.6);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.105);
    word-wrap: break-word;
    box-sizing: border-box;
    margin-bottom: 1em;
}
#dw__toc ul{
    padding: 0.5em;
    margin: 0.5em;
}
#dw__toc ul li{
    list-style: square;
}

.dokuwiki h3.toggle {
    padding: .2em .5em;
    font-weight: bold;
    background-color: #e7eaef;
}

#dokuwiki__content {
    line-height: 1.8em;
}

#dokuwiki__footer {
    margin-bottom: 1em;
    padding: 1em 0em;
}
#dokuwiki__footer .doc {
    margin-bottom: 1em;
    float: right;
}
#dokuwiki__footer .license {
    text-align: center;
    padding-top: 1em;
    border-top: 0.12em dashed #ccc;
    clear: both;
}